/* Page */
body {
  background-color: #666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin-top: 0;
}
header {
  background: #f1f1f1;
  border-bottom: 2px solid #333;
}
header h1 {
  margin-bottom: 0;
}
article {

}
footer {
  background: #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  color: #ccc;
  text-align: center;
}
.inner {
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  background: #e1e1e1;
  padding: 2em;
  margin: 0 auto;
  max-width: 950px;
  min-width: 350px;
}

/* Image Control */
.image {
  background: url(http://placekitten.com/800/500) center center no-repeat #666;
  background-size: cover;
  height: 300px;
  width: 300px;
  position: relative;
}
.img-control {
  background: #999;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 48px;
  width: 48px;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  overflow: hidden;
  opacity: 0.8;
  position: absolute;
}
.img-control:hover,
.img-control:active {
  opacity: 1.0;
}
.img-delete {
  top: 0;
  right: 0;
}
.img-rotate {
  bottom: 8px;
  left: 8px;
}
.img-crop {
  bottom: 8px;
  left: 68px;
}
/* Modal */
.modal {
  background: rgba(21, 21, 21, 0.85);
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  height: 101%;
  width: 101%;
  z-index: 100;
}
.modal-inner {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
/* Crop Tool */
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.crop-border {
  border: 1px solid #000;
  background: #666;
  margin: 0 auto;
  position: relative;
  height: 550px;
  width: 800px;
}
.crop-btns {
  background: #000;
  color: #fff;
  height: 50px;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.crop-container {
  height: 500px;
  width: 800px;
}
.crop-btns button {
  background: none;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  font-size: 0.75em;
  font-weight: bold;
}
button.cancel {
  color: #fff;
  display: inline;
  float: left;
  margin: 1em;
}
button.crop {
  background: #e1e1e1;
  border-radius: 3px;
  height: 32px;
  float: right;
  margin: 0.5em 1em;
  padding: 0 1em;
}
.original {
  position: absolute;
  top: 0;
  left: 0;
}
.overlay,
.handle {
  border: 1px solid #fff;
  position: absolute;
}
.overlay {
  min-height: 300px;
  min-width: 300px;
  height: 300px;
  width: 300px;
}
.overlay.is-dragging {
  background: rgba(255,255,255,0.15);
  border-style: dashed;
}
.dragger {
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) repeat; /* IE8 */
  background: rgba(255,255,255,0.01); /* IE10 */
  cursor: move;
  min-height: 300px;
  min-width: 300px;
  height: 100%;
  width: 100%;
  position: absolute;
}
.handle {
  background: #fff;
  position: absolute;
  height: 11px;
  width: 11px;
  bottom: -6px;
  opacity: 0.75
}
.overlay.is-dragging .handle, 
.handle.is-dragging {
  background: transparent;
  opacity: 0.00;
  border: none; /* IE8 */
}
.handle.nw,
.handle.ne {
  top: -6px;
  left: -6px;
}
.handle.ne {
  left: auto;
  right: -6px;
}
.handle.sw,
.handle.se {
  left: -6px;
}
.handle.se {
  left: auto;
  right: -6px;
}
.handle.se,
.handle.nw {
  cursor: nwse-resize;
}
 .handle.ne,
 .handle.sw {
  cursor: nesw-resize;
}